<!DOCTYPE html>
<html>
<head>
    <title>Create Thread</title>
</head>
<body>
    <h1>Create New Thread</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
</body>
</html>
